/*Headings*/
h1 {
    font-family: "Montseratt";
    font-weight: bold;
    font-size: 3.5rem;
}

h4 {
    font-family: "Ubuntu";
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

/*Navigation bar*/
.navbar-brand-custom {
    font-family: "Ubuntu";
    font-size: 1.8rem;
}

.navbar {
    font-family: "Ubuntu";
    padding-bottom: 2rem;
}

/*Padding*/
.container-fluid {
    padding: 1% 12.6%;
}

.text-center-custom {
    padding-bottom: 2rem;
}

.row {
    padding-bottom: 4rem;
}

@media (min-width: 300px) {
    .container-sm {
        max-width: 400px;
    }
}

#random-quote-block {
    background-color: #F2F5F8;
}

#logout {
    background-color: #222529;

}

.btn-outline-light {
    --btn-font-family: "Ubuntu";
    --bs-btn-hover-color: #C8C8C9;
    --bs-btn-hover-bg: #222529;
    --bs-btn-border-color: #222529;
    --bs-btn-color: #9B9D9F;
    --bs-btn-hover-border-color: #222529;
}

.register-block {
    margin-top: 30px;
}

.upload {
    padding-top: 5%;
}

/* .dashboard-books {
    max-height: 450px;
    overflow: hidden;
}


#show-more {
    margin-top: 10px;
} */

.dashboard-books {
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}

.table {
    --bs-table-hover-bg: #f8f9fa;
}


/* LIKE */
.fa-heart-o {
    color: #9B9D9F;
    cursor: pointer;
}

.fa-heart {
    color: #9B9D9F;
    cursor: pointer;
}

#like {
    text-align: center;
}