{% extends "base.html" %}
{% load static %}

{% block title %}Settings{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu">
        <!-- Sidebar Hover Menu Toggle Button -->
        <button type="button" class="btn button-sm-hover p-0" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Show Full Sidebar">
            <i class="ri-checkbox-blank-circle-line align-middle"></i>
        </button>

        <!-- Sidebar -left -->
        <div class="h-100" id="leftside-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="side-nav">

                <li class="side-nav-item">
                    <a href="{% url 'dashboard' %}" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span> Quote of the day </span>
                    </a>
                </li>
                {% if user.active_subscription %}
                <li class="side-nav-item">
                    <a href="{% url 'daily' %}" class="side-nav-link">
                        <i class="uil-calender"></i>
                        <span> Daily review </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'favorite' %}" class="side-nav-link">
                        <i class=" ri-star-line"></i>
                        <span> Favorites </span>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="{% url 'by-book-api' %}" class="side-nav-link">
                        <i class="ri-menu-line"></i>
                        <span> My books </span>
                    </a>
                </li>
                {% else %}
                <li class="side-nav-item">
                    <a href="" class="side-nav-link">
                        <i class="uil-calender"></i>
                        <span> Daily review </span><i class="ri-lock-2-line"></i>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="" class="side-nav-link">
                        <i class=" ri-star-line"></i>
                        <span> Favorites </span><i class="ri-lock-2-line"></i>
                    </a>
                </li>

                <li class="side-nav-item">
                    <a href="" class="side-nav-link">
                        <i class="ri-menu-line"></i>
                        <span> My books </span><i class="ri-lock-2-line"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!--- End Sidemenu -->

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ========== Left Sidebar End ========== -->
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-title-box">
                        <h4 class="page-title">Membership</h4>
                        <div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">
                            <!-- ========== Quote Card Start ========== -->
                            <div class="card">
                                <div class="card-body pb-1">
                                    <div class="card-body">
                                        {% if not user.active_subscription %}
                                        <div class="table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 34%;"></th>
                                                        <th style="width: 22%;">Free</th>
                                                        <th style="width: 22%;">Pro</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" class="text-start">Show random highlight from
                                                            your
                                                            library</th>
                                                        <td><svg class="bi" width="24" height="24">
                                                                <use xlink:href="#check" />
                                                            </svg></td>
                                                        <td><svg class="bi" width="24" height="24">
                                                                <use xlink:href="#check" />
                                                            </svg></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">Easily browse & search your
                                                            entire highlight
                                                            library</th>
                                                        <td></td>
                                                        <td><svg class="bi" width="24" height="24">
                                                                <use xlink:href="#check" />
                                                            </svg></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">Email and Telegram message
                                                            with your daily
                                                            highlights</th>
                                                        <td></td>
                                                        <td><svg class="bi" width="24" height="24">
                                                                <use xlink:href="#check" />
                                                            </svg></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">Organize your highlights with
                                                            likes, editing and
                                                            notes</th>
                                                        <td></td>
                                                        <td><svg class="bi" width="24" height="24">
                                                                <use xlink:href="#check" />
                                                            </svg></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 34%;"></th>
                                                        <th style="width: 22%;">Billed monthly</th>
                                                        <th style="width: 22%;">Billed annually</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" class="text-start">Monthly price </th>
                                                        <td>3$ <a href="{% url 'checkout_monthly' %}"
                                                                class="btn btn-primary">Upgrade to
                                                                monthly
                                                                PRO</a></td>
                                                        <td>2$ <a href="{% url 'checkout_annual' %}"
                                                                class="btn btn-primary">Upgrade to
                                                                annual
                                                                PRO</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-primary" id="start-trial">Start a free trial (1 week,
                                                no credit card
                                                needed)</button>
                                        </div>
                                        {% else %}
                                        <p>Status: <strong>Active (Pro)</strong> <i class="fa-solid fa-circle fa-xs"
                                                style="color: rgb(90, 170, 90);"></i></p>
                                        <p id="paidPeriod">Subscription ends: <strong>{{user.paid_until}}</strong></p>
                                        <form action="/create-portal-session/" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" id="session-   id" name="session_id" value="" />
                                            <button id="checkout-and-portal-button" class="btn btn-primary"
                                                type="submit"><i class="ri-vip-crown-fill"></i> Manage your
                                                subscription</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end row -->
</div>




{% else %}
<script>
    window.location.replace("{% url 'landing' %}")
</script>
{% endif%}

<!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
{% endblock %}
{% block jquery %}
$.getScript('{% static 'js/settings.js' %}');
{% endblock %}