{% extends "base.html" %}


{% block title %}Your notes feed{% endblock %}
{% block content %}
<div style="background-color: #F2F5F8;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action" aria-current="true">
                    Random quote
                </a>
                <a href="{% url 'smart_feed' %}" class="list-group-item list-group-item-action">Smart feed</a>
                <a href="{% url 'by_book' %}" class="list-group-item list-group-item-action active">By book</a>
                <a href="{% url 'by_tag' %}" class="list-group-item list-group-item-action">By tag</a>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div>
                <h3>{{ book_title }} </h3>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Quote</th>
                        <th scope="col">Date added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in quotes_by_book %}
                    <tr>
                        <td>{{ quote.quote_db }}</td>
                        <td>{{ quote.date_added_db }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}