{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="background-color: #F2F5F8;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action" aria-current="true">
                    Random quote
                </a>
                <a href="{% url 'smart_feed' %}" class="list-group-item list-group-item-action">Smart feed</a>
                <a href="{% url 'by_book' %}" class="list-group-item list-group-item-action active">By book</a>
                <a href="{% url 'by_tag' %}" class="list-group-item list-group-item-action">By tag</a>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="dashboard-books">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope=" col">Title</th>
                            <th scope="col">Highlights</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book_title, count in highlights_count %}
                        <tr>
                            <td><a href="{% url 'book_page' book_title.id %}">{{ book_title }}</a></td>
                            <td> {{ count }}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="checkbox" id="show_status" name="show_status" value="show_status">
                                </form>
            </div>
            </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary" id="show-more">SHOW MORE</button>
    </div>

</div>
<br>
<br>
<br>
<br>
</div>
{% endblock %}