{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="background-color: #F2F5F8;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Random quote
                </a>
                <a href="{% url 'smart_feed' %}" class="list-group-item list-group-item-action">Smart feed</a>
                <a href="{% url 'by-book-api' %}" class="list-group-item list-group-item-action">By book</a>
                <a href="{% url 'by_tag' %}" class="list-group-item list-group-item-action">By tag</a>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Random quote of the day
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <blockquote class="blockquote mb-0">
                        <p id="quote-text"></p>

                        <footer class="blockquote-footer"><cite title="Source Title">
                        </footer>
                    </blockquote>
                    <br>
                    <a href="{% url 'dashboard-api' %}" class="btn btn-primary">SHOW NEW RANDOM QUOTE</a>
                    <a href="" class="btn btn-success" onclick="likeQuote(current_quote)">LIKE</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}
{% block jquery %}
$.getScript('{% static 'js/dashboard.js' %}');
{% endblock %}