{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="background-color: #F2F5F8;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Random quote
                </a>
                <a href="{% url 'smart_feed' %}" class="list-group-item list-group-item-action">Smart feed</a>
                <a href="{% url 'by_book' %}" class="list-group-item list-group-item-action">By book</a>
                <a href="{% url 'by_tag' %}" class="list-group-item list-group-item-action">By tag</a>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Random quote of the day
                </div>
                <div class="card-body">
                    {% if random_quote %}
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{ random_quote.date_added_db }}</p>
                    <blockquote class="blockquote mb-0">
                        <p>{{ random_quote.quote_db }}</p>

                        <footer class="blockquote-footer"><cite title="Source Title">{{ random_quote.book_title_db }}
                        </footer>
                    </blockquote>
                    <br>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">SHOW NEW RANDOM QUOTE</a>
                    {% else %}
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <blockquote class="blockquote mb-0">
                        <p>You have no highlights :(</p>
                        <p>Upload your kindle notes file to get started ⬇️</p>

                        <footer class="blockquote-footer"><cite title="Source Title">
                        </footer>
                    </blockquote>
                    <br>
                    <a href="{% url 'upload' %}" class="btn btn-primary">UPLOAD KINDLE FILE</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}