{% extends "base.html" %}

{% load static %}
{% block content %}



<div class="container register">
  <h2>We will email you a password recovery link</h2>

  <form id="passwordRestoreForm" class="login" method="POST">
    <div class="mb-3">
      <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" required>
    </div>
    <span id="error"></span>

    <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
</div>

{% endblock %}

{% block jquery %}
$.getScript('{% static 'js/forgot_password.js' %}');
{% endblock %}